# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Audio files
*.wav
*.flac
*.mp3
*.m4a
*.oga
*.ogg

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDEs
.vscode/
.idea/
.DS_Store
